@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a011a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}


body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* width: 100vw; */
  font-family: "Poppins", sans-serif;
}

 /* Common Styles */
.container{
  @apply p-6
}
h1{
  @apply text-5xl font-bold 
}
.nav-item{
  @apply hover:text-white hover:bg-blue-600 p-2 rounded-md transition duration-300
}
.arrow{
  @apply absolute top-1/2 -translate-y-1/2 w-4 h-6 text-xs lg:text-lg lg:w-7 lg:h-10 bg-white rounded-lg shadow-sm flex items-center justify-center text-black cursor-pointer
}
input,
select {
  @apply bg-transparent text-gray-700
}
option {
  @apply bg-black text-white 
}
 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
